In [1]:
import tensorflow as tf
import pandas as pd

In [4]:
(x_train, y_train), (x_test, y_test) = tf.keras.datasets.mnist.load_data()
print(x_train.shape, x_test.shape)

(60000, 28, 28) (10000, 28, 28)

In [6]:
(독립,종속),_ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)

In [7]:
독립 = 독립.reshape(60000,28,28,1)
종속 = pd.get_dummies(종속) # one hot encoding
print(독립.shape,종속.shape)

(60000, 28, 28, 1) (60000, 10)

In [8]:
X = tf.keras.layers.Input(shape = [28,28,1])
H = tf.keras.layers.Conv2D(3, kernel_size = 5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size = 5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84,activation='swish')(H)
Y = tf.keras.layers.Dense(10,activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss = 'categorical_crossentropy', metrics = 'accuracy')

In [9]:
model.fit(독립,종속,epochs=10) # 모델 학습

Epoch 1/10
1875/1875 [==============================] - 13s 7ms/step - loss: 0.3459 - accuracy: 0.9291
Epoch 2/10
1875/1875 [==============================] - 13s 7ms/step - loss: 0.0766 - accuracy: 0.9783
Epoch 3/10
1875/1875 [==============================] - 13s 7ms/step - loss: 0.0444 - accuracy: 0.9873
Epoch 4/10
1875/1875 [==============================] - 12s 7ms/step - loss: 0.0328 - accuracy: 0.9906
Epoch 5/10
1875/1875 [==============================] - 13s 7ms/step - loss: 0.0227 - accuracy: 0.9933
Epoch 6/10
1875/1875 [==============================] - 13s 7ms/step - loss: 0.0181 - accuracy: 0.9946
Epoch 7/10
1875/1875 [==============================] - 13s 7ms/step - loss: 0.0177 - accuracy: 0.9951
Epoch 8/10
1875/1875 [==============================] - 13s 7ms/step - loss: 0.0152 - accuracy: 0.9957
Epoch 9/10
1875/1875 [==============================] - 13s 7ms/step - loss: 0.0135 - accuracy: 0.9961
Epoch 10/10
1875/1875 [==============================] - 13s 7ms/step - loss: 0.0151 - accuracy: 0.9960

In [10]:
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [11]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [13]:
model.summary()

Model: "functional_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten (Flatten)            (None, 2400)              0
_________________________________________________________________
dense (Dense)                (None, 84)                201684
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________